body{
    word-spacing: 0px;
    width: 100%;
    background-color: darkgrey;
}

.flex-between {
    display: flex;
}
.navbar-brand{
    color: green;
    margin-left: 0.2%;
    width: 150px;
}
.table{
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    width: 66%;
    background-color: white;
}
.tabla{
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    width: 66%;
}
.titlematchtable{
    font-weight: 600;
    font-size: x-large;
    margin-left: 2px;
    text-align: center;
}
.titlepositiontable{
    font-weight: 600;
    font-size: x-large;
    margin-left: 2px;
    width: fit-content;
}

h1{
    font-weight: 600;
    margin: 20px;
    text-align: center;
}

.btn-outline-dark{
    border-width: 2px;
    font-weight: 600;
}
.d-flex{
    border-width: 20px;
    border-color: black;
}
.tablaDiv{
    border-radius: 16px;
}
.nav-link:hover{
    animation-name: AnimDifuminar;
    animation-duration: 1s;
    animation-iteration-count: unset;
      
}
@keyframes AnimDifuminar {   
    0% {     
      background-color: transparent; 
      border-color: transparent;
      border-radius: 4px;
  
    } 
    100% {     
      background-color: lightgray;   
      color: black;
      border-radius: 8px;
      border-width: 1px;
      font-weight: 550;
      border: lightgray solid 1px;
    } 
  }

.mediaGoles{
    margin-right: 2%;
}
/* NO FUNCIONA
.table thead tr th{
    background-color: green;
}*/

td{
    text-align: center;
}
.nombreEquipos{
    text-align: left;
}